<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="community">
	
	<!-- 자유게시판 List 불러오기 -->
	<select id="selectList" resultType="Community">
		select * from Community order by communityDate desc
	</select>
	
	<!-- 자유게시판 전체 갯수 -->
	<select id="selectCount" resultType="_int">
		select count(*) from Community
	</select>
	
	<!-- 자유게시판 글작성 -->
	<insert id="insertCommunity" parameterType="Community">
		insert into Community VALUES(Community_SEQ.nextval, #{communityTitle}, #{communityWriter},#{communityCheckPH} ,#{communityContent}, #{communityFile},#{communityRefile},0,sysdate)
	</insert>
	
	<!-- 자유게시판 조회수 증가 -->
	<update id="updateCount" parameterType="_int">
		UPDATE Community SET communityReadcount=communityReadcount + 1 WHERE communityNum = #{no}
	</update>
	
	<!-- 자유게시판 view 불러오기 -->
	<select id="selectOneCommunity" resultType="Community" parameterType="_int">
		select * from Community where communityNum=#{no}
	</select>
	
	<!-- 자유게시판 제목 검색 -->
	<select id="searchTitleNumber" resultType="_int" parameterType="string">
		select communityNum from Community where communityTitle LIKE #{searchContent} order by communityDate desc
	</select>
	
	<!-- 자유게시판 내용 검색-->
	<select id="searchContentNumber" resultType="_int" parameterType="string">
		select communityNum from Community where communityTitle LIKE #{searchContent} order by communityDate desc
	</select>
	
	<!-- 자유게시판 작성자 검색 -->
	<select id="searchWriterNumber" resultType="_int" parameterType="string">
		select communityNum from Community where communityTitle LIKE #{searchContent} order by communityDate desc
	</select>
	
	<!-- 자유게시판 검색 안한 상태 -->
	<select id="selectCommunityNumber" resultType="_int">
		select communityNum from Community order by communityDate desc
	</select>
	
	<!-- 자유게시판 글 삭제 -->
	<delete id="deleteCommunity" parameterType="_int">
		delete from Community where communityNum=#{no}
	</delete>
	
	<!-- 자유게시판 글 수정 -->
	<update id="updateCommunity" parameterType="Community">
		update Community set communityTitle=#{communityTitle}, communityWriter=#{communityWriter}, communityContent=#{communityContent},
		communityFile=#{communityFile}, communityRefile=#{communityRefile } where communityNum=#{communityNum}
	</update>
	
	<!-- 자유게시판 title 검색 -->
	<select id="selectTitleSearch" resultType="Community" parameterType="string">
		select * from Community WHERE communityTitle LIKE #{searchContent} order by communityDate desc
	</select>
	
	<!-- 자유게시판 content 검색 -->
	<select id="selectContentSearch" resultType="Community" parameterType="string">
		select * from Community WHERE communityContent LIKE #{searchContent} order by communityDate desc
	</select>
	
	<!-- 자유게시판 writer 검색 -->
	<select id="selectWriterSearch" resultType="Community" parameterType="string">
		select * from Community WHERE communityWriter LIKE #{searchContent} order by communityDate desc
	</select>
	
	<!-- 자유게시판 title 검색 count -->
	<select id="selectTitleSearchCount" resultType="_int" parameterType="string">
		select count(*) from Community where communityTitle LIKE #{searchContent} order by communityDate desc
	</select>
	
	<!-- 자유게시판 content 검색 count -->
	<select id="selectContentSearchCount" resultType="_int" parameterType="string">
		select count(*) from Community where communityTitle LIKE #{searchContent} order by communityDate desc
	</select>
	
	<!-- 자유게시판 writer 검색 count -->
	<select id="selectWriterSearchCount" resultType="_int" parameterType="string">
		select count(*) from Community where communityTitle LIKE #{searchContent} order by communityDate desc
	</select>
	
	<!-- 자유게시판 댓글 insert -->
	<insert id="insertCommunityComment" parameterType="CommunityComment">
		insert into CommunityComment VALUES(CommunityComment_SEQ.nextval, #{commentNo}, #{commentWriter},#{commentContent} ,sysdate)
	</insert>
	
	<!-- 자유게시판 댓글 List -->
	<select id="selectListCommunityComment" resultType="CommunityComment" parameterType="_int">
		select * from CommunityComment where commentNo=#{no} order by commentDate desc
	</select>
	
	<!-- 자유게시판 마지막 댓글 -->
	<select id="selectOneCommunityComment" resultType="CommunityComment">
		SELECT * FROM (SELECT * FROM CommunityComment ORDER BY ROWNUM DESC) WHERE ROWNUM = 1
	</select>
	
	<!-- 자유게시판 댓글 갯수 -->
	<select id="communityCommentCount" resultType="_int" parameterType="_int">
		SELECT count(*) FROM CommunityComment where commentNo=#{no}
	</select>
	
	<!-- 자유게시판 삭제시 댓글 List 삭제 -->
	<delete id="deleteCommunityCommentList" parameterType="_int">
		delete from CommunityComment where commentNo=#{no}
	</delete>
	
	<!-- 자유게시판 댓글 삭제 -->
	<delete id="deleteComment" parameterType="_int">
		delete from CommunityComment where commentNum=#{num}
	</delete>
	
</mapper>




