<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hospital">

	<resultMap type="doctorInfos" id="doctorInfosMap">
		<result column="professional" property="professional" typeHandler="StringArray"/>
	</resultMap>

	<select id="checkId" parameterType="string" resultType="_int">
		select count(*) from hospital where hospitalId=#{hospitalId}
	</select>
	
	<insert id="insertHospital" parameterType="hospital">
		insert into hospital values(
			hospital_seq.nextval,
			#{hospitalId},
			#{hospitalPw},
			#{hospitalName},
			#{hospitalLicense},
			#{hospitalReLicense},
			#{hospitalTel},
			#{hospitalEmail},
			#{hospitalAddr},
			sysdate,
			#{hospitalLike},
			0,
			#{hospitalProfessional}
		)
	</insert>
	
	<select id="loginCheck" parameterType="string" resultType="hospital">
		select * from hospital where hospitalId=#{memberId}
	</select>
	
	<select id="selectHospitalList" resultType="hospital">
		select A.* from hospital A order by hospitalDate DESC
	</select>
	
	<select id="selectCount" resultType="_int">
 		select count(*) from hospital
 	</select>
 	
 	<update id="updateAdmission">
 		update hospital set hospitalAdmission=1 where hospitalNum=#{hospitalNum}
 	</update>

	<select id="checkhospitalEmail" parameterType="string" resultType="_int">
		select count(*) from hospital where hospitalEmail=#{HospitalEmail}
	</select>

	<select id="hoscnt" resultType="_int">
		select count(*) from hospital where hospitalAdmission=0
	</select>
	
	<select id="hospitalNameinput" parameterType="_int" resultType="string">
		select hospitalName from hospital where hospitalNum=#{hospitalNum}
	</select>
	
	<select id="selectHospital" parameterType="_int" resultType="hospital">
		select * from hospital where hospitalNum=#{hospitalNum}
	</select>
	
	<insert id="hospitalInfoinsert" parameterType="hospitalInfos">
		INSERT INTO HOSPITALINFO values(
			#{hospitalInfoNum},
			#{hospitalInfoIntro},
			#{hospitalInfoNotice},
			#{hospitalPhoto},
			#{hospitalRePhoto},
			#{hospitalInfoUsetime},
			#{hospitalInfoLunchtime}
		)
	</insert>
	
	<select id="selectHospitalInfo" parameterType="_int" resultType="hospitalInfos">
		select * from hospitalInfo where hospitalInfoNum=#{hospitalNum}
	</select>
	
	<select id="loadHospitalInfo" parameterType="_int" resultType="_int">
		select count(*) from hospitalInfo where hospitalInfoNum=#{hospitalNum}
	</select>
	
	<select id="selectDoctorInfo" parameterType="_int" resultType="doctorInfos">
		select * from doctorInfo where hospitalNo=#{hospitalNum}
	</select>
	
	<insert id="doctorinfoinsert" parameterType="doctorInfos">
		insert into doctorInfo values(
			doctorinfo_seq.nextval,
			#{doctorName},
			#{doctorCareer},
			#{hospitalNo},
			#{professional, typeHandler=StringArray},
			#{doctorSlunch},
			#{doctorElunch},
			#{WeekdayStime},
			#{WeekdayEtime},
			#{SatStime},
			#{SatEtime},
			#{Closed},
			#{Specialized},
			#{doctorPhoto},
			#{doctorRePhoto},
			#{timeInterval}
		)
	</insert>
</mapper>
