<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select id="loginMemberCheck" parameterType="string" resultType="member">
		select * from member where memberId=#{memberId}
	</select>
	<insert id="insertMember">
		insert into member values(
			member_seq.nextval,
			#{memberId},
			#{memberPw},
			#{memberName},
			#{memberGender},
			#{memberBirth},
			#{memberPhone},
			#{memberEmail},
			#{memberAddr},
			sysdate
		)
	</insert>
	
	<select id="Memberduplicate" parameterType="string" resultType="_int">
		select count(*) from member where memberId=#{memberId}
	</select>
	
	<select id="checkId" parameterType="string" resultType="_int">
		select count(*) from member where memberId=#{memberId}
	</select>
	
	<update id="mypageUpdate" parameterType="member">
		update member set 
			memberName=#{memberName},
			memberBirth=#{memberBirth},
			memberGender=#{memberGender},
			memberPhone=#{memberPhone},
			memberEmail=#{memberEmail},
			memberAddr=#{memberAddr}
		where memberId=#{memberId}
	</update>
	
	<select id="selectMember" parameterType="string" resultType="member">
		select * from member where memberId=#{memberId}
	</select>
	
	<update id="newPwUpdate" parameterType="map">
		update member set memberPw=#{newPassword} where memberId=#{memberId}
	</update>
	
	<select id="duplicateEmail" parameterType="string" resultType="_int">
		select count(*) from member where memberEmail=#{memberEmail}
	</select>
	
	<select id="checkEmail" parameterType="string" resultType="_int">
		select count(*) from member where memberEmail=#{memberEmail}
	</select>
	
	<select id="FindEmail" parameterType="string" resultType="_int">
		select count(*) from member where memberEmail=#{memberEmail}
	</select>
	
	<select id="FindId" parameterType="member" resultType="string">
		select rpad(substr(memberId,1,4),length(memberId),'*') from member where memberName=#{memberName} and memberEmail=#{memberEmail}
	</select>
	
	<select id="searchName" parameterType="string" resultType="member">
		select * from member where memberName=#{memberName}
	</select>
	
	<select id="searchID" parameterType="string" resultType="member">
		select * from member where memberId=#{memberId}
	</select>
	
	<update id="MemberUpdate" parameterType="member">
		update member set memberPw=#{memberPw} where memberId=#{memberId}
	</update>
	
	<select id="selectMemberList" resultType="member">
		select A.* from member A order by memberDate DESC
	</select>
	
	<select id="selectCount" resultType="_int">
 		select count(*) from member
 	</select>
 	
 	<update id="UpdateDeleteMember" parameterType="_int">
 		update member set 
 			memberId='탈퇴한 회원',
 			memberName='회원탈퇴',
 			memberEmail='회원탈퇴',
 			memberAddr='회원탈퇴'
 		where memberNum=#{memberNum}
 	</update>
 	
 	<select id="selectNoticeNums" parameterType="string" resultType="_int">
 		select communityNum from Community where communityWriter=#{memberId}
 	</select>
 	
 	<delete id="deleteNoticeComment" parameterType="_int">
 		delete from CommunityComment where commentNo=#{commentNo}
 	</delete>
 	
 	<select id="selectNoticePhoto" parameterType="string" resultType="string">
 		select communityRefile from Community where communityWriter=#{memberId}
 	</select>
 	
 	<delete id="deleteNotice" parameterType="string">
 		delete from Community where communityWriter=#{memberId}
 	</delete>
 	
 	<delete id="deleteInquiry" parameterType="string">
 		delete from inquiry where inquiryWriter=#{memberId}
 	</delete>
</mapper>
